* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}
body {
    font-size: 1.6rem;
    margin:0;
}
#root{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
a{
    color:#000;
    text-decoration: none;
}
section {
    width:1300px;
}
.topSection {
    padding-top: 100px;
}

/* UTILITY CLASSES */
.bold {
    font-weight: 700;
}
.underline {
    text-decoration: underline;
}


@media (max-width:1300px) {
    .container {
        width:95%;
    }
}