.subTitle {
    display: flex;
    gap: 10px;
}
.detailImage {
    display: flex;
    width: 800px;
    aspect-ratio: 1.8;
    border-radius: 10px;
    overflow: hidden;
}
.detailImage img {
    width:100%;
    object-fit: cover;
    object-position: center center;
    overflow: hidden;
}
.detail {
    height:2000px;
}
